<div class="NavBar">
  <a href="#about">About</a>
  <a href="#project">Project</a>
  <a href="#contact">Contact</a>
</div> 


<section id="about">
  <div class="container-fluid">
    <div class="jumbotron">
     <h2 class="text-center text-primary">About Me</h2>
  <p>Hello! My name is Didier A. Murillo I am a Computer Science student from Unitec actually coursing my third year almost my fourth one.</p>

  <p>I decided to study Computer Science because I can see a great future in computer technology,I like the freedom and ability to create whatever your imaginations lets you but actually always looking for something that will help others with a application or even with a simple website.</p>

  <p>I am actually working in Laureate International Universities as a intern in the Academics Team, here they gave me a opportunity to gain experience and learn more about the many of all the areas a Computer Science Engineer can work in.  </p>

   </div>
  </div>
</section>


<section id="project">
   <h2 class="text-primary text-center">My Projects</h2>
   
    <div class="container-fluid">
          <div class="jumbotron">
              <div class="row">
                  <a href="http://global3.laureate.net/#/home" target="_blank" class="col-md-4 col-sm-5">
                    <img src="http://portalboletos.laureate.com.br/Images/logo_laureate.png"   class="img-responsive" style="position: relative; left: 5px;">
                    <div class="caption">
                      Laureate Global Portal.
                    </div>
                  </a>
                  <p>My team is not actually a developer team but I had the opportunity to get close to them and learn a lot about how to create a concurrent website like Laureate Global Portal it was a really good experience.</p>
              </div>
          </div>  
    </div>

    <div class="container-fluid">
          <div class="jumbotron">
              <div class="row">
                  <a href="https://github.com/DidierMurillo/Proyecto1TBD2" target="_blank" class="col-md-4 col-sm-5">
                    <img src="https://tettra.co/wp-content/logos/github.png"   class="img-responsive" style="position: relative; left: 5px;">
                    <div class="caption">
                      Great Database Manipulation Project.
                    </div>
                  </a>
                  <p>Here is one of my favorite database projects because its was a real life problem we needed to solve and not just that we also needed a great timing with all database scripts and operations.</p>
              </div>
          </div>  
    </div>
    
    <div class="container-fluid">
          <div class="jumbotron">
              <div class="row">
                  <a href="https://rails5-forum.herokuapp.com/posts" target="_blank" class="col-md-4 col-sm-5">
                    <img src="https://i.imgur.com/SxptFaA.png"   class="img-responsive" style="position: relative; left: 5px;">
                    <div class="caption">
                    My First App on Ruby!
                    </div>
                  </a>
                  <p>This is my first experience working with Ruby on Rails Framework until now I have being really enjoying it and hoping to learn more about it</p>
              </div>
          </div>  
    </div>
</section>




<footer id="contact" class="container-fluid">
    <hr>
    <p class="copyright">Didier Murillo</p> 
    <div class="social-icons">
      <a href="https://github.com/DidierMurillo/" target="_blank"><i class="fa fa-2x fa-github"></i></a>
      <a href="https://twitter.com/cecheverri4" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
    </div>
</footer>